*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.background-container1, .background-container2, .background-container3, .background-container4 {
    width: 100%;
    height: 990px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 50% ;
    background-position-y: 50% ;
    background-size: cover;
    color: rgb(102, 102, 102);
    opacity: .7;
}
.background-container1{
    background-image: url(./img/bg.jpg);
    position: relative;
}
.first-page{
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px ;
    border-top: 8px solid rgb(105, 2, 105);
    border-left: 8px solid rgb(105, 2, 105);
    border-bottom: 8px solid rgb(196, 7, 196);
    border-right: 8px solid rgb(196, 7, 196);
    padding-left: 33px;
    padding-right: 33px;
}
.middles{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 80;
    color: white;
    background-color: black;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    padding: 20px 50px;
    letter-spacing: 5px;
    line-height: 65px;
}
.full-stack{
    height: 250px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    font-size: 18px;
    overflow: scroll;

}
.full-stack h2{
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
}
.full-stack-p{
    margin: 35px 30px;
    color: black;
}
.background-container2{
    background-image: url(./img/bg2.jpg);
    position: relative;
}
img.clarusway{
    width: 430px;
    position: absolute;
    top: 60%;
}
.background-container3{
    background-image: url(./img/bg3.jpg);
    position: relative;
}
.aws, .data, .why{
    height: 200px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(22, 21, 21);
    position: absolute;
    top: 0;
    font-size: 18px;
    overflow: scroll;
}
.aws-p .data p, .why-p{
    margin: 35px 30px;
    color: white;
}
.aws h2, .data h2, .why-h2{
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
.third-page, .fourth-page, .last-page{
    border-top: 8px solid rgb(105, 2, 105);
    border-left: 8px solid rgb(105, 2, 105);
    border-bottom: 8px solid rgb(196, 7, 196);
    border-right: 8px solid rgb(196, 7, 196);
    padding: 5px 4px;
}
.aws-middle, .data-middle{
    text-transform: capitalize;
    margin: 4px 4px;
}
.background-container4{
    background-image: url(./img/bg4.jpg);
    position: relative;
}
.data-p, .data h2{
    color: black;
}
.data{
    background-color: white;
}
.background-container5{
    width: 100%;
    height: 1220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 50% ;
    background-position-y: 50% ;
    background-size: cover;
    color: rgb(102, 102, 102);
    opacity: .7;
    position: relative;
}
.why{
    background-color: black;
    height: 230px;
}
.last-page{
    margin-top: 270px;
}
